APP_NAME=Cyberzilla
APP_ENV=local
APP_KEY=base64:o5gFpNRm1Ha4DFNi3ido4ZfESsOuoWU8kHhhPDXj6Io=
APP_DEBUG=true
APP_URL=https://acc.cyberzilla.io

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ADMIN_LOGIN=
ADMIN_PASSWORD=

LAVA_URL=https://api.lava.ru/
LAVA_WALLET_RUB=
LAVA_API_KEY=
LAVA_SECRET1=
LAVA_SECRET2=
LAVA_ORDER_PREFIX=LVT_

ENOT_API_KEY=
ENOT_URL=https://enot.io/request/
ENOT_EMAIL=

PRIMEPAYMENT_URL=https://pay.primepayments.ru/API/v1/
PRIMEPAYMENT_SECRET_ONE=
PRIMEPAYMENT_SECRET_TWO=
PRIMEPAYMENT_PROJECT_ID=
PRIMEPAYMENT_WEBMASTER_ID=
PRIMEPAYMENT_EMAIL=

INTERKASSA_API_URL=https://api.interkassa.com/v1/
INTERKASSA_CHECKOUT_ID=
INTERKASSA_CURRENCY=RUB
INTERKASSA_PRIVATE_KEY=
INTERKASSA_TEST_KEY=
INTERKASSA_LOGIN=
INTERKASSA_KEY=
INTERKASSA_BUSINESS_ACCOUNT=
INTERKASSA_WALLET_RUB=

QIWI_URL=https://edge.qiwi.com/
QIWI_KEY=
QIWI_NUMBER=

COINBASE_URL=https://api.coinbase.com/v2/
COINBASE_API_KEY=
COINBASE_API_SECRET=
COINBASE_BTC_ACCOUNT=
COINBASE_BCH_ACCOUNT=
COINBASE_LTC_ACCOUNT=
COINBASE_ETH_ACCOUNT=
COINBASE_USDC_ACCOUNT=
COINBASE_DOGE_ACCOUNT=
